.accordionCont {
	margin: 15px 0;

	.panel {
		margin-bottom: 2px;
		background-color: #fff;
		border: 0;
		border-radius: 0px;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

		h1, h2, h3, .panel-heading {
			a {
				color: #00589d;
				position: relative;
				display: block;

				span.glyphicon,
				span.glyphicon,
				span.glyphicon,
				span.glyphicon {
					position: absolute;
					top: 15px;
					right: 15px;
				}
			}
		}
	}

	.panel-collapse {
		color: #555555;
		padding: 15px 20px;
	}

	.panel-heading {
		padding: 0;
		border-bottom: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.panel-body {
		padding: 0;
	}
}

/* Nagarro: css addtion for donwload ctnter page icons */
.accordionCont .panel a h1.headline,
.accordionCont .panel a h2.headline,
.accordionCont .panel a h3.headline,
.accordionCont .panel .panel-heading h4.panel-title,
.downloadcenterContainer h2[class*=icon-downloadcenter] {
	border: 1px solid #d6d6d6;
	background: #f5f5f5;
	border-radius: 0;
	font-size: 16px;
	color: #00589d;
	font-family: 'robotomedium', Helvetica, Arial, Sans-Serif;
	padding: 15px 20px;
	display: block;
	margin: 0;
}


.datanom.box .accordionCont .panel h2 a span.glyphicon,
.datanom.box .accordionCont .panel .panel-heading a span.glyphicon {
	top: 0px;
	right: 0;
}
