.servicesHPageCont {
	color: #fff;
	margin-bottom: 10px;

	div {
		margin-bottom: 15px;
	}

	img {
		width: 100%;
		height: auto;
	}

	.actionTxt {
		position: absolute;
		left: 39px;
		top: 21px;
		width: 80%;

		p {
			width: 200px;
			height: 65px;
		}
	}
}