<?xml version="1.0"?>
<config>
	<modules>
		<Schracklive_Translation>
			<version>0.2.0</version>
		</Schracklive_Translation>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Schracklive_Translation>
					<files>
						<schrack>local/Schracklive_Translation.csv</schrack>
					</files>
				</Schracklive_Translation>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<translation>
				<use>admin</use>
				<args>
					<module>Schracklive_Translation</module>
					<frontName>translation</frontName>
				</args>
			</translation>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Schracklive_Translation>
					<files>
						<schrack>local/Schracklive_Translation.csv</schrack>
					</files>
				</Schracklive_Translation>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<models>
			<translation>
				<class>Schracklive_Translation_Model</class>
				<resourceModel>translation_mysql4</resourceModel>
			</translation>
			<translation_mysql4>
				<class>Schracklive_Translation_Model_Mysql4</class>
				<entities>
					<translation>
						<table>translation</table>
					</translation>
				</entities>
			</translation_mysql4>
		</models>
		<resources>
			<translation_setup>
				<setup>
					<module>Schracklive_Translation</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</translation_setup>
			<translation_write>
				<connection>
					<use>core_write</use>
				</connection>
			</translation_write>
			<translation_read>
				<connection>
					<use>core_read</use>
				</connection>
			</translation_read>
		</resources>
		<blocks>
			<translation>
				<class>Schracklive_Translation_Block</class>
			</translation>
		</blocks>
		<helpers>
			<translation>
				<class>Schracklive_Translation_Helper</class>
			</translation>
		</helpers>
	</global>
</config>