<?xml version="1.0"?>
<config>
	<modules>
		<Schracklive_Crm>
			<version>1.3.0</version>
			<depends>
				<Schracklive_Schrack />
			</depends>
		</Schracklive_Crm>
	</modules>
	<crontab>
		<jobs>
			<schracklive_crm>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>crm/cronjob::processPending</model>
				</run>
			</schracklive_crm>
		</jobs>
	</crontab>
	<global>
		<resources>
			<crm_setup>
				<setup>
					<module>Schracklive_Crm</module>
				</setup>
			</crm_setup>
		</resources>
		<models>
			<crm>
				<class>Schracklive_Crm_Model</class>
			</crm>
		</models>
		<helpers>
			<crm>
				<class>Schracklive_Crm_Helper</class>
			</crm>
		</helpers>
		<events>
			<account_account_save_before>
				<observers>
					<crm>
						<class>Schracklive_Crm_Model_Account_Observer</class>
						<method>save</method>
					</crm>
				</observers>
			</account_account_save_before>
			<customer_save_before>
				<observers>
					<crm>
						<class>Schracklive_Crm_Model_Customer_Observer</class>
						<method>save</method>
					</crm>
				</observers>
			</customer_save_before>
			<customer_address_save_before>
				<observers>
					<crm>
						<class>Schracklive_Crm_Model_Customer_Address_Observer</class>
						<method>save</method>
					</crm>
				</observers>
			</customer_address_save_before>
			<customer_delete_before>
				<observers>
					<crm>
						<class>Schracklive_Crm_Model_Customer_Observer</class>
						<method>delete</method>
					</crm>
				</observers>
			</customer_delete_before>
			<customer_address_delete_before>
				<observers>
					<crm>
						<class>Schracklive_Crm_Model_Customer_Address_Observer</class>
						<method>delete</method>
					</crm>
				</observers>
			</customer_address_delete_before>
		</events>
	</global>
</config>
