<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Schracklive_SchrackCheckout>
            <version>1.0.4</version>
        </Schracklive_SchrackCheckout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <module>Schracklive_SchrackCheckout</module>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <extensionname module="Schracklive_Schrackcheckout">
                    <file>makeoffer.xml</file>
                </extensionname>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Checkout>
                    <files>
                        <schrackcheckout>local/Schracklive_SchrackCheckout.csv</schrackcheckout>
                    </files>
                </Mage_Checkout>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <checkout>
                <rewrite>
                    <session>Schracklive_SchrackCheckout_Model_Session</session>
                    <type_onepage>Schracklive_SchrackCheckout_Model_Type_Onepage</type_onepage>
                    <cart>Schracklive_SchrackCheckout_Model_Cart</cart>
                </rewrite>
            </checkout>
            <schracklive_schrackcheckout>
                <class>Schracklive_SchrackCheckout_Model</class>
             </schracklive_schrackcheckout>
        </models>
        <helpers>
            <schrackcheckout>
                <class>Schracklive_SchrackCheckout_Helper</class>
            </schrackcheckout>
        </helpers>
        <blocks>
            <schrackcheckout>
                <class>Schracklive_SchrackCheckout_Block</class>
            </schrackcheckout>
            <checkout>
                <rewrite>
                    <onepage>Schracklive_SchrackCheckout_Block_Onepage</onepage>
                    <onepage_login>Schracklive_SchrackCheckout_Block_Onepage_Login</onepage_login>
                    <onepage_address>Schracklive_SchrackCheckout_Block_Onepage_Address</onepage_address>
                    <onepage_billing>Schracklive_SchrackCheckout_Block_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Schracklive_SchrackCheckout_Block_Onepage_Shipping</onepage_shipping>
                    <onepage_shipping_method>Schracklive_SchrackCheckout_Block_Onepage_Shipping_Method</onepage_shipping_method>
                    <onepage_payment_methods>Schracklive_SchrackCheckout_Block_Onepage_Payment_Methods</onepage_payment_methods>
                    <onepage_success>Schracklive_SchrackCheckout_Block_Onepage_Success</onepage_success>
                    <success>Schracklive_SchrackCheckout_Block_Success</success>
                    <cart_totals>Schracklive_SchrackCheckout_Block_Cart_Totals</cart_totals>
                    <cart_item_renderer>Schracklive_SchrackCheckout_Block_Cart_Item_Renderer</cart_item_renderer>
					<cart_quickadd>Schracklive_SchrackCheckout_Block_Cart_Quickadd</cart_quickadd>
                    <links>Schracklive_SchrackCheckout_Block_Links</links>
                </rewrite>
            </checkout>
        </blocks>
        <events>
            <schrack_checkout_type_onepage_save_order_preafter>
                <observers>
                    <schrackcheckout>
                        <class>Schracklive_SchrackCheckout_Model_Onepage_Observer</class>
                        <method>adjustPrice</method>
                    </schrackcheckout>
                </observers>
            </schrack_checkout_type_onepage_save_order_preafter>
        </events>
        <sales>
            <quote>
                <totals>
                    <subtotal>
                        <renderer>schrackcheckout/total_subtotal</renderer>
                    </subtotal>
                </totals>
            </quote>
        </sales>
        <resources>
            <schrackcheckout_setup>
                <setup>
                    <module>Schracklive_SchrackCheckout</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </schrackcheckout_setup>
        </resources>
    </global>
    <default>
        <schrack>
            <typo3>
                <uploadcsvtext_url>service/schrack-digital/csv-uploadinfo/</uploadcsvtext_url>
            </typo3>
        </schrack>        
    </default>
</config>
