<?xml version="1.0"?>
<config>
	<modules>
		<MageDeveloper_TYPO3connect>
			<version>0.11.1</version>
		</MageDeveloper_TYPO3connect>
	</modules>
	<global>
		<blocks>
			<typo3connect>
				<class>MageDeveloper_TYPO3connect_Block</class>
			</typo3connect>
		</blocks>
		<models>
			<customer>
				<rewrite>
					<customer_api_v2>MageDeveloper_TYPO3connect_Model_Customer_Api_V2</customer_api_v2>
				</rewrite>
			</customer>
			<catalog>
				<rewrite>
					<product_api_v2>MageDeveloper_TYPO3connect_Model_Catalog_Product_Api_V2</product_api_v2>
					<category_api_v2>MageDeveloper_TYPO3connect_Model_Catalog_Category_Api_V2</category_api_v2>
				</rewrite>
			</catalog>
			<typo3connect>
				<class>MageDeveloper_TYPO3connect_Model</class>
			</typo3connect>
		</models>
		<helpers>
            <typo3connect>
                <class>MageDeveloper_TYPO3connect_Helper</class>
            </typo3connect>
        </helpers>
	</global>		

	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<typo3connect before="Mage_Customer">MageDeveloper_TYPO3connect</typo3connect>
					</modules>
				</args>
			</customer>
            <typo3>
                <use>standard</use>
                <args>
                    <module>MageDeveloper_TYPO3connect</module>
                    <frontName>typo3</frontName>
                </args>
            </typo3>
		</routers>
		<translate>
			<modules>
				<MageDeveloper_TYPO3connect>
					<files>
						<default>MageDeveloper_TYPO3connect.csv</default>
					</files>
				</MageDeveloper_TYPO3connect>
			</modules>
		</translate>
        <layout>
            <updates>
                <typo3connect module="MageDeveloper_TYPO3connect">
                    <file>typo3connect.xml</file>
                </typo3connect>
            </updates>
        </layout> 
	</frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <typo3connect before="Mage_Adminhtml">MageDeveloper_TYPO3connect_Adminhtml</typo3connect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <typo3connect>
                    <file>typo3connect.xml</file>
                </typo3connect>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <typo3connect>
                                            <title>TYPO3connect</title>
                                        </typo3connect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <translate>
            <modules>
                <MageDeveloper_TYPO3connect>
                    <files>
                        <default>MageDeveloper_TYPO3connect.csv</default>
                    </files>
                </MageDeveloper_TYPO3connect>
            </modules>
        </translate>
    </adminhtml>
    
	<default>
		<typo3connect>
			<xml_adapter>
				<typenum>777</typenum>
			</xml_adapter>
		</typo3connect>		
	</default>	 
    
</config>