<?xml version="1.0"?>
<config>
	<modules>
		<Schracklive_Account>
			<version>1.5.4</version>
			<depends>
				<Schracklive_Schrack />
			</depends>
		</Schracklive_Account>
	</modules>
	<admin>
		<routers>
			<account>
				<use>admin</use>
				<args>
					<module>Schracklive_Account</module>
					<frontName>account</frontName>
				</args>
			</account>
		</routers>
	</admin>
	<frontend>
		<translate>
			<modules>
				<Schracklive_Account>
					<files>
						<account>local/Schracklive_Account.csv</account>
					</files>
				</Schracklive_Account>
			</modules>
		</translate>
		<secure_url>
			<account>/account/</account>
		</secure_url>
    <!--
    <events>
      <controller_action_layout_load_before>
        <observers>
          <customer_is_logged_in_observer2>
            <class>customer/observer</class>
            <method>beforeLoadLayout</method>
          </customer_is_logged_in_observer2>
        </observers>
      </controller_action_layout_load_before>
    </events>
        -->
		<routers>
			<account>
				<use>standard</use>
				<args>
					<module>Schracklive_Account</module>
					<frontName>account</frontName>
				</args>
			</account>
		</routers>
		<layout>
			<updates>
				<account>
					<file>account.xml</file>
				</account>
			</updates>
		</layout>
	</frontend>
	<global>
		<fieldsets>
			<account_account>
				<prefix>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</prefix>
				<name1>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</name1>
				<name2>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</name2>
				<name3>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</name3>
				<street>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</street>
				<postcode>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</postcode>
				<city>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</city>
				<country>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</country>
				<taxvat>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</taxvat>
				<comment>
					<create>1</create>
					<update>1</update>
					<name>1</name>
				</comment>
			</account_account>
		</fieldsets>
		<models>
			<account>
				<class>Schracklive_Account_Model</class>
				<resourceModel>account_mysql4</resourceModel>
			</account>
			<account_mysql4>
				<class>Schracklive_Account_Model_Mysql4</class>
				<entities>
					<account>
						<table>account</table>
					</account>
				</entities>
			</account_mysql4>
		</models>
		<resources>
			<account_setup>
				<setup>
					<module>Schracklive_Account</module>
				</setup>
			</account_setup>
		</resources>
		<blocks>
			<account>
				<class>Schracklive_Account_Block</class>
			</account>
		</blocks>
		<helpers>
			<account>
				<class>Schracklive_Account_Helper</class>
			</account>
		</helpers>
	</global>
</config>
