//
//  Breakpoints
//  ---------------------------------------------

$breakpoint-up-xs              : '300px';
$breakpoint-down-xs            : '299px';

// Small devices (landscape phones, 576px and up)
$breakpoint-up-sm              : '576px';
$breakpoint-down-sm            : '575px';

// Medium devices (tablets, 768px and up)
$breakpoint-up-md              : '768px';
$breakpoint-down-md            : '767px';

// Large devices (desktops, 992px and up)
$breakpoint-up-lg              : '992px';
$breakpoint-down-lg            : '991px';

// Extra large devices (large desktops, 1200px and up)
$breakpoint-up-xl              : '1200px';
$breakpoint-down-xl            : '1199px';

