<?xml version="1.0"?>
<config>
    <modules>
        <Finpin_Sezame>
            <version>1.0.4</version>
        </Finpin_Sezame>
    </modules>
    <global>
        <helpers>
            <sezame>
                <class>Finpin_Sezame_Helper</class>
            </sezame>
        </helpers>
        <blocks>
            <sezame>
                <class>Finpin_Sezame_Block</class>
            </sezame>
        </blocks>
        <models>
            <sezame>
                <class>Finpin_Sezame_Model</class>
            </sezame>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <finpin_sezame>
                        <class>Finpin_Sezame_Model_Autoloader</class>
                        <method>addAutoloader</method>
                        <type>singleton</type>
                    </finpin_sezame>
                </observers>
            </controller_front_init_before>

            <customer_login>
                <observers>
                    <finpin_sezame>
                        <type>model</type>
                        <class>Finpin_Sezame_Model_Login</class>
                        <method>customerLogin</method>
                    </finpin_sezame>
                </observers>
            </customer_login>

            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <finpin_sezame>
                        <class>Finpin_Sezame_Model_Login</class>
                        <method>preDispatchLogin</method>
                    </finpin_sezame>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
        </events>
    </global>
    <frontend>
        <routers>
            <sezame>
                <use>standard</use>
                <args>
                    <module>Finpin_Sezame</module>
                    <frontName>sezame</frontName>
                </args>
            </sezame>
        </routers>
        <translate>
            <modules>
                <sezame>
                    <files>
                        <default>Finpin_Sezame.csv</default>
                    </files>
                </sezame>
            </modules>
        </translate>
        <layout>
            <updates>
                <sezame>
                    <file>sezame.xml</file>
                </sezame>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sezame after="Mage_Adminhtml">Finpin_Sezame_Adminhtml</sezame>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <sezame>
            <settings>
                <timeout>20</timeout>
                <fraud>1</fraud>
            </settings>
        </sezame>
    </default>
</config>
