<?xml version="1.0"?>
<!--
/**
 *
 * @package		Orcamultimedia_Ids
 * 
**/
-->
<config>
	<modules>
		<Orcamultimedia_Ids>
			<version>1.0.1</version>
		</Orcamultimedia_Ids>
	</modules>
	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<Orcamultimedia_Ids before="Mage_Customer">Orcamultimedia_Ids</Orcamultimedia_Ids>
					</modules>
				</args>
			</customer>
			<ids>
				<use>standard</use>
				<args>
					<module>Orcamultimedia_Ids</module>
					<frontName>ids</frontName>
				</args>
			</ids>
		</routers>
		<layout>
			<updates>
				<Orcamultimedia_Ids>
					<file>ids.xml</file>
				</Orcamultimedia_Ids>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<ids>
				<class>Orcamultimedia_Ids_Block</class>
			</ids>
			<checkout>
				<rewrite>
					<onepage_link>Orcamultimedia_Ids_Block_Link</onepage_link>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
            <ids>
                <class>Orcamultimedia_Ids_Helper</class>
            </ids>
        </helpers>
		<models>
			<ids>
				<class>Orcamultimedia_Ids_Model</class>
			</ids>
			<checkout>
				<rewrite>
					<observer>Orcamultimedia_Ids_Model_Checkout_Observer</observer>
				</rewrite>
			</checkout>
		</models>
		<events>
			<customer_login>
				<observers>
					<Orcamultimedia_Ids_Observer>
						<class>Orcamultimedia_Ids_Model_Observer</class>
						<method>customerLogin</method>
					</Orcamultimedia_Ids_Observer>
				</observers>
			</customer_login>
			<controller_action_predispatch_checkout>
				<observers>
					<Orcamultimedia_Ids_Observer>
						<class>Orcamultimedia_Ids_Model_Observer</class>
						<method>proceedCheckout</method>
					</Orcamultimedia_Ids_Observer>
				</observers>
			</controller_action_predispatch_checkout>
			<controller_action_predispatch_customer>
				<observers>
					<Orcamultimedia_Ids_Observer>
						<class>Orcamultimedia_Ids_Model_Observer</class>
						<method>removeCustomerActions</method>
					</Orcamultimedia_Ids_Observer>
				</observers>
			</controller_action_predispatch_customer>
		</events>
		<resources>
			<ids_setup>
				<setup>
					<module>Orcamultimedia_Ids</module>
					<class>Orcamultimedia_Ids_Model_Resource_Setup</class>
				</setup>
			</ids_setup>
		</resources>
	</global>
<!--	<adminhtml>-->
<!--        <acl>-->
<!--            <resources>-->
<!--                <admin>-->
<!--                    <children>-->
<!--                        <system>-->
<!--                            <children>-->
<!--                                <config>-->
<!--                                    <children>-->
<!--										<ids module="ids" translate="title">-->
<!--                                            <title>IDS</title>-->
<!--                                            <sort_order>50</sort_order>-->
<!--                                        </ids>-->
<!--                                    </children>-->
<!--                                </config>-->
<!--                            </children>-->
<!--                        </system>-->
<!--                    </children>-->
<!--                </admin>-->
<!--            </resources>-->
<!--        </acl>-->
<!--    </adminhtml>-->
	<default>
		<ids>
			<configuration>
				<logging>0</logging>
				<transliteration>0</transliteration>
			</configuration>
			<vendor>
				<enabled>0</enabled>
				<value/>
			</vendor>
			<leadtime>
				<enabled>0</enabled>
				<value/>
			</leadtime>
			<matgroup>
				<enabled>0</enabled>
				<value/>
			</matgroup>
			<manufactmat>
				<enabled>0</enabled>
				<value/>
			</manufactmat>
			<cust_field1>
				<enabled>0</enabled>
				<value/>
			</cust_field1>
			<cust_field2>
				<enabled>0</enabled>
				<value/>
			</cust_field2>
			<cust_field3>
				<enabled>0</enabled>
				<value/>
			</cust_field3>
			<cust_field4>
				<enabled>0</enabled>
				<value/>
			</cust_field4>
			<cust_field5>
				<enabled>0</enabled>
				<value/>
			</cust_field5>
			<ext_category_id>
				<enabled>0</enabled>
				<value/>
			</ext_category_id>
			<unit>
				<enabled>0</enabled>
				<value/>
			</unit>
			<matnr>
				<enabled>0</enabled>
				<value/>
			</matnr>
			<contract>
				<enabled>0</enabled>
				<value/>
			</contract>
			<contract_item>
				<enabled>0</enabled>
				<value/>
			</contract_item>
			<ext_quote_id>
				<enabled>0</enabled>
				<value/>
			</ext_quote_id>
			<ext_quote_item>
				<enabled>0</enabled>
				<value/>
			</ext_quote_item>
			<attachment>
				<enabled>0</enabled>
				<value/>
			</attachment>
			<attachment_title>
				<enabled>0</enabled>
				<value/>
			</attachment_title>
			<attachment_purpose>
				<enabled>0</enabled>
				<value/>
			</attachment_purpose>
			<ext_schema_type>
				<enabled>0</enabled>
				<value/>
			</ext_schema_type>
			<ext_category>
				<enabled>0</enabled>
				<value/>
			</ext_category>
			<sld_sys_name>
				<enabled>0</enabled>
				<value/>
			</sld_sys_name>
			<priceunit>
				<enabled>0</enabled>
				<value/>
			</priceunit>
			<manufactcode>
				<enabled>0</enabled>
				<value/>
			</manufactcode>
			<service>
				<enabled>0</enabled>
				<value/>
			</service>
			<custom>
				<enabled>0</enabled>
				<name/>
				<value/>
			</custom>
			<item_type>
				<enabled>0</enabled>
				<value/>
			</item_type>
			<parent_id>
				<enabled>0</enabled>
				<value/>
			</parent_id>
		</ids>
	</default>
</config>
