<?xml version="1.0"?>
<config>
    <modules>
        <Schracklive_Wws>
            <version>1.3.9</version>
            <depends>
                <Schracklive_Schrack />
                <Schracklive_SchrackCatalog />
                <Schracklive_SchrackCheckout />
            </depends>
        </Schracklive_Wws>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Schracklive_Wws>
                    <files>
                        <schrack>local/Schracklive_Wws.csv</schrack>
                    </files>
                </Schracklive_Wws>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <wws>
                <use>admin</use>
                <args>
                    <module>Schracklive_Wws</module>
                    <frontName>wws</frontName>
                </args>
            </wws>
        </routers>
    </admin>
    <global>
        <resources>
            <wws_setup>
                <setup>
                    <module>Schracklive_Wws</module>
                </setup>
            </wws_setup>
        </resources>
        <models>
            <wws>
                <class>Schracklive_Wws_Model</class>
                <resourceModel>wws_mysql4</resourceModel>
            </wws>
            <wws_mysql4>
                <class>Schracklive_Wws_Model_Mysql4</class>
                <entities>
                    <signal>
                        <table>wws_signal</table>
                    </signal>
                </entities>
            </wws_mysql4>
        </models>
        <blocks>
            <wws>
                <class>Schracklive_Wws_Block</class>
            </wws>
        </blocks>
        <helpers>
            <wws>
                <class>Schracklive_Wws_Helper</class>
            </wws>
            <schrackcatalog>
                <rewrite>
                    <info>Schracklive_Wws_Helper_SchrackCatalog_Info</info>
                </rewrite>
            </schrackcatalog>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <wws>
                        <class>Schracklive_Wws_Model_Sales_Quote_Observer</class>
                        <method>beforeCollectTotals</method>
                    </wws>
                </observers>
            </sales_quote_collect_totals_before>
            <schrack_checkout_get_quote_after>
                <observers>
                    <wws>
                        <class>Schracklive_Wws_Model_Checkout_Observer</class>
                        <method>checkForWwsOrderState</method>
                    </wws>
                </observers>
            </schrack_checkout_get_quote_after>
            <schrack_checkout_controller_onepage_save_payment>
                <observers>
                    <wws>
                        <class>Schracklive_Wws_Model_Checkout_Observer</class>
                        <method>fillInOrderDetailsFromWws</method>
                    </wws>
                </observers>
            </schrack_checkout_controller_onepage_save_payment>
            <schrack_checkout_type_onepage_save_order_before>
                <observers>
                    <wws>
                        <class>Schracklive_Wws_Model_Checkout_Observer</class>
                        <method>finalizeOrderInWws</method>
                    </wws>
                </observers>
            </schrack_checkout_type_onepage_save_order_before>
        </events>
        <template>
            <email>
                <schrack_wws_limit_email_template translate="label" module="wws">
                    <label>Limit Exceeded E-Mail</label>
                    <file>local/limit_exceeded.html</file>
                    <type>html</type>
                </schrack_wws_limit_email_template>
            </email>
        </template>
        <cache>
            <types>
                <wws translate="label,description" module="core">
                    <label>WWS data</label>
                    <description>WWS product info cache</description>
                    <tags>WWS</tags>
                </wws>
            </types>
        </cache>
    </global>
</config>
