<?xml version="1.0"?>
<config>
    <modules>
        <Schracklive_Schrack>
            <version>2.8.2</version>
        </Schracklive_Schrack>
    </modules>
    <default>
        <web>
            <routers>
                <admin>
                    <area>admin</area>
                    <class>Schracklive_Schrack_Model_AdminRouter</class>
                </admin>
                <standard>
                    <area>frontend</area>
                    <class>Schracklive_Schrack_Model_StandardRouter</class>
                </standard>
            </routers>
        </web>
    </default>
    <stores>
        <default>
            <web>
                <routers>
                    <admin>
                        <area>admin</area>
                        <class>Schracklive_Schrack_Model_AdminRouter</class>
                    </admin>
                    <standard>
                        <area>frontend</area>
                        <class>Schracklive_Schrack_Model_StandardRouter</class>
                    </standard>
                </routers>
            </web>
        </default>
    </stores>
    <frontend>
        <layout>
            <jstranslate>
                <file>jstranslator.xml</file>
            </jstranslate>
        </layout>
        <routers>
            <schracklive_schrack>
                <use>standard</use>
                <args>
                    <module>Schracklive_Schrack</module>
                    <frontName>sd</frontName>
                </args>
            </schracklive_schrack>
        </routers>
    </frontend>
    <global>
        <blocks>
            <schrack>
                <class>Schracklive_Schrack_Block</class>
            </schrack>
        </blocks>
        <models>
            <schrack>
                <class>Schracklive_Schrack_Model</class>
                <resourceModel>schrack_mysql4</resourceModel>
            </schrack>
            <schrack_mysql4>
                <class>Schracklive_Schrack_Model_Mysql4</class>
                <entities>
                    <acl_role>
                        <table>acl_roles</table>
                    </acl_role>
                </entities>
            </schrack_mysql4>
        </models>
        <helpers>
            <schrack>
                <class>Schracklive_Schrack_Helper</class>
            </schrack>
        </helpers>
        <resources>
            <schrack_setup>
                <setup>
                    <module>Schracklive_Schrack</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </schrack_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <schrack>
                        <type>singleton</type>
                        <class>schrack/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </schrack>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Adminhtml>
                    <files>
                        <schrack>local/Mage_Adminhtml.csv</schrack>
                    </files>
                </Mage_Adminhtml>
                <Mage_AdminNotification>
                    <files>
                        <schrack>local/Mage_AdminNotification.csv</schrack>
                    </files>
                </Mage_AdminNotification>
                <Mage_Api>
                    <files>
                        <schrack>local/Mage_Api.csv</schrack>
                    </files>
                </Mage_Api>
                <Mage_Backup>
                    <files>
                        <schrack>local/Mage_Backup.csv</schrack>
                    </files>
                </Mage_Backup>
                <Mage_Bundle>
                    <files>
                        <schrack>local/Mage_Bundle.csv</schrack>
                    </files>
                </Mage_Bundle>
                <Mage_Catalog>
                    <files>
                        <schrack>local/Mage_Catalog.csv</schrack>
                    </files>
                </Mage_Catalog>
                <Mage_CatalogInventory>
                    <files>
                        <schrack>local/Mage_CatalogInventory.csv</schrack>
                    </files>
                </Mage_CatalogInventory>
                <Mage_CatalogRule>
                    <files>
                        <schrack>local/Mage_CatalogRule.csv</schrack>
                    </files>
                </Mage_CatalogRule>
                <Mage_CatalogSearch>
                    <files>
                        <schrack>local/Mage_CatalogSearch.csv</schrack>
                    </files>
                </Mage_CatalogSearch>
                <Mage_Checkout>
                    <files>
                        <schrack>local/Mage_Checkout.csv</schrack>
                    </files>
                </Mage_Checkout>
                <Mage_Cms>
                    <files>
                        <schrack>local/Mage_Cms.csv</schrack>
                    </files>
                </Mage_Cms>
                <Mage_Compiler>
                    <files>
                        <schrack>local/Mage_Compiler.csv</schrack>
                    </files>
                </Mage_Compiler>
                <Mage_Contacts>
                    <files>
                        <schrack>local/Mage_Contacts.csv</schrack>
                    </files>
                </Mage_Contacts>
                <Mage_Core>
                    <files>
                        <schrack>local/Mage_Core.csv</schrack>
                    </files>
                </Mage_Core>
                <Mage_Cron>
                    <files>
                        <schrack>local/Mage_Cron.csv</schrack>
                    </files>
                </Mage_Cron>
                <Mage_Customer>
                    <files>
                        <schrack>local/Mage_Customer.csv</schrack>
                    </files>
                </Mage_Customer>
                <Mage_Dataflow>
                    <files>
                        <schrack>local/Mage_Dataflow.csv</schrack>
                    </files>
                </Mage_Dataflow>
                <Mage_Directory>
                    <files>
                        <schrack>local/Mage_Directory.csv</schrack>
                    </files>
                </Mage_Directory>
                <Mage_Downloadable>
                    <files>
                        <schrack>local/Mage_Downloadable.csv</schrack>
                    </files>
                </Mage_Downloadable>
                <Mage_Eav>
                    <files>
                        <schrack>local/Mage_Eav.csv</schrack>
                    </files>
                </Mage_Eav>
                <Mage_GiftMessage>
                    <files>
                        <schrack>local/Mage_GiftMessage.csv</schrack>
                    </files>
                </Mage_GiftMessage>
                <Mage_GoogleAnalytics>
                    <files>
                        <schrack>local/Mage_GoogleAnalytics.csv</schrack>
                    </files>
                </Mage_GoogleAnalytics>
                <Mage_GoogleBase>
                    <files>
                        <schrack>local/Mage_GoogleBase.csv</schrack>
                    </files>
                </Mage_GoogleBase>
                <Mage_GoogleCheckout>
                    <files>
                        <schrack>local/Mage_GoogleCheckout.csv</schrack>
                    </files>
                </Mage_GoogleCheckout>
                <Mage_GoogleOptimizer>
                    <files>
                        <schrack>local/Mage_GoogleOptimizer.csv</schrack>
                    </files>
                </Mage_GoogleOptimizer>
                <Mage_Install>
                    <files>
                        <schrack>local/Mage_Install.csv</schrack>
                    </files>
                </Mage_Install>
                <Mage_Log>
                    <files>
                        <schrack>local/Mage_Log.csv</schrack>
                    </files>
                </Mage_Log>
                <Mage_Media>
                    <files>
                        <schrack>local/Mage_Media.csv</schrack>
                    </files>
                </Mage_Media>
                <Mage_Newsletter>
                    <files>
                        <schrack>local/Mage_Newsletter.csv</schrack>
                    </files>
                </Mage_Newsletter>
                <Mage_Page>
                    <files>
                        <schrack>local/Mage_Page.csv</schrack>
                    </files>
                </Mage_Page>
                <Mage_Paygate>
                    <files>
                        <schrack>local/Mage_Paygate.csv</schrack>
                    </files>
                </Mage_Paygate>
                <Mage_Payment>
                    <files>
                        <schrack>local/Mage_Payment.csv</schrack>
                    </files>
                </Mage_Payment>
                <Mage_Paypal>
                    <files>
                        <schrack>local/Mage_Paypal.csv</schrack>
                    </files>
                </Mage_Paypal>
                <Mage_PaypalUk>
                    <files>
                        <schrack>local/Mage_PaypalUk.csv</schrack>
                    </files>
                </Mage_PaypalUk>
                <Mage_Poll>
                    <files>
                        <schrack>local/Mage_Poll.csv</schrack>
                    </files>
                </Mage_Poll>
                <Mage_ProductAlert>
                    <files>
                        <schrack>local/Mage_ProductAlert.csv</schrack>
                    </files>
                </Mage_ProductAlert>
                <Mage_Rating>
                    <files>
                        <schrack>local/Mage_Rating.csv</schrack>
                    </files>
                </Mage_Rating>
                <Mage_Reports>
                    <files>
                        <schrack>local/Mage_Reports.csv</schrack>
                    </files>
                </Mage_Reports>
                <Mage_Review>
                    <files>
                        <schrack>local/Mage_Review.csv</schrack>
                    </files>
                </Mage_Review>
                <Mage_Rss>
                    <files>
                        <schrack>local/Mage_Rss.csv</schrack>
                    </files>
                </Mage_Rss>
                <Mage_Rule>
                    <files>
                        <schrack>local/Mage_Rule.csv</schrack>
                    </files>
                </Mage_Rule>
                <Mage_Sales>
                    <files>
                        <schrack>local/Mage_Sales.csv</schrack>
                    </files>
                </Mage_Sales>
                <Mage_SalesRule>
                    <files>
                        <schrack>local/Mage_SalesRule.csv</schrack>
                    </files>
                </Mage_SalesRule>
                <Mage_Sendfriend>
                    <files>
                        <schrack>local/Mage_Sendfriend.csv</schrack>
                    </files>
                </Mage_Sendfriend>
                <Mage_Shipping>
                    <files>
                        <schrack>local/Mage_Shipping.csv</schrack>
                    </files>
                </Mage_Shipping>
                <Mage_Sitemap>
                    <files>
                        <schrack>local/Mage_Sitemap.csv</schrack>
                    </files>
                </Mage_Sitemap>
                <Mage_Strikeiron>
                    <files>
                        <schrack>local/Mage_Strikeiron.csv</schrack>
                    </files>
                </Mage_Strikeiron>
                <Mage_Tag>
                    <files>
                        <schrack>local/Mage_Tag.csv</schrack>
                    </files>
                </Mage_Tag>
                <Mage_Tax>
                    <files>
                        <schrack>local/Mage_Tax.csv</schrack>
                    </files>
                </Mage_Tax>
                <Mage_Usa>
                    <files>
                        <schrack>local/Mage_Usa.csv</schrack>
                    </files>
                </Mage_Usa>
                <Mage_Weee>
                    <files>
                        <schrack>local/Mage_Weee.csv</schrack>
                    </files>
                </Mage_Weee>
                <Mage_Wishlist>
                    <files>
                        <schrack>local/Mage_Wishlist.csv</schrack>
                    </files>
                </Mage_Wishlist>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Schracklive_Schrack>
                    <files>
                        <default>local/Schracklive_Schrack.csv</default>
                    </files>
                </Schracklive_Schrack>
                <Mage_Adminhtml>
                    <files>
                        <schrack>local/Mage_Adminhtml.csv</schrack>
                    </files>
                </Mage_Adminhtml>
                <Mage_AdminNotification>
                    <files>
                        <schrack>local/Mage_AdminNotification.csv</schrack>
                    </files>
                </Mage_AdminNotification>
                <Mage_Api>
                    <files>
                        <schrack>local/Mage_Api.csv</schrack>
                    </files>
                </Mage_Api>
                <Mage_Backup>
                    <files>
                        <schrack>local/Mage_Backup.csv</schrack>
                    </files>
                </Mage_Backup>
                <Mage_Bundle>
                    <files>
                        <schrack>local/Mage_Bundle.csv</schrack>
                    </files>
                </Mage_Bundle>
                <Mage_Catalog>
                    <files>
                        <schrack>local/Mage_Catalog.csv</schrack>
                    </files>
                </Mage_Catalog>
                <Mage_CatalogInventory>
                    <files>
                        <schrack>local/Mage_CatalogInventory.csv</schrack>
                    </files>
                </Mage_CatalogInventory>
                <Mage_CatalogRule>
                    <files>
                        <schrack>local/Mage_CatalogRule.csv</schrack>
                    </files>
                </Mage_CatalogRule>
                <Mage_CatalogSearch>
                    <files>
                        <schrack>local/Mage_CatalogSearch.csv</schrack>
                    </files>
                </Mage_CatalogSearch>
                <Mage_Checkout>
                    <files>
                        <schrack>local/Mage_Checkout.csv</schrack>
                    </files>
                </Mage_Checkout>
                <Mage_Cms>
                    <files>
                        <schrack>local/Mage_Cms.csv</schrack>
                    </files>
                </Mage_Cms>
                <Mage_Compiler>
                    <files>
                        <schrack>local/Mage_Compiler.csv</schrack>
                    </files>
                </Mage_Compiler>
                <Mage_Contacts>
                    <files>
                        <schrack>local/Mage_Contacts.csv</schrack>
                    </files>
                </Mage_Contacts>
                <Mage_Core>
                    <files>
                        <schrack>local/Mage_Core.csv</schrack>
                    </files>
                </Mage_Core>
                <Mage_Cron>
                    <files>
                        <schrack>local/Mage_Cron.csv</schrack>
                    </files>
                </Mage_Cron>
                <Mage_Customer>
                    <files>
                        <schrack>local/Mage_Customer.csv</schrack>
                    </files>
                </Mage_Customer>
                <Mage_Dataflow>
                    <files>
                        <schrack>local/Mage_Dataflow.csv</schrack>
                    </files>
                </Mage_Dataflow>
                <Mage_Directory>
                    <files>
                        <schrack>local/Mage_Directory.csv</schrack>
                    </files>
                </Mage_Directory>
                <Mage_Downloadable>
                    <files>
                        <schrack>local/Mage_Downloadable.csv</schrack>
                    </files>
                </Mage_Downloadable>
                <Mage_Eav>
                    <files>
                        <schrack>local/Mage_Eav.csv</schrack>
                    </files>
                </Mage_Eav>
                <Mage_GiftMessage>
                    <files>
                        <schrack>local/Mage_GiftMessage.csv</schrack>
                    </files>
                </Mage_GiftMessage>
                <Mage_GoogleAnalytics>
                    <files>
                        <schrack>local/Mage_GoogleAnalytics.csv</schrack>
                    </files>
                </Mage_GoogleAnalytics>
                <Mage_GoogleBase>
                    <files>
                        <schrack>local/Mage_GoogleBase.csv</schrack>
                    </files>
                </Mage_GoogleBase>
                <Mage_GoogleCheckout>
                    <files>
                        <schrack>local/Mage_GoogleCheckout.csv</schrack>
                    </files>
                </Mage_GoogleCheckout>
                <Mage_GoogleOptimizer>
                    <files>
                        <schrack>local/Mage_GoogleOptimizer.csv</schrack>
                    </files>
                </Mage_GoogleOptimizer>
                <Mage_Install>
                    <files>
                        <schrack>local/Mage_Install.csv</schrack>
                    </files>
                </Mage_Install>
                <Mage_Log>
                    <files>
                        <schrack>local/Mage_Log.csv</schrack>
                    </files>
                </Mage_Log>
                <Mage_Media>
                    <files>
                        <schrack>local/Mage_Media.csv</schrack>
                    </files>
                </Mage_Media>
                <Mage_Newsletter>
                    <files>
                        <schrack>local/Mage_Newsletter.csv</schrack>
                    </files>
                </Mage_Newsletter>
                <Mage_Page>
                    <files>
                        <schrack>local/Mage_Page.csv</schrack>
                    </files>
                </Mage_Page>
                <Mage_Paygate>
                    <files>
                        <schrack>local/Mage_Paygate.csv</schrack>
                    </files>
                </Mage_Paygate>
                <Mage_Payment>
                    <files>
                        <schrack>local/Mage_Payment.csv</schrack>
                    </files>
                </Mage_Payment>
                <Mage_Paypal>
                    <files>
                        <schrack>local/Mage_Paypal.csv</schrack>
                    </files>
                </Mage_Paypal>
                <Mage_PaypalUk>
                    <files>
                        <schrack>local/Mage_PaypalUk.csv</schrack>
                    </files>
                </Mage_PaypalUk>
                <Mage_Poll>
                    <files>
                        <schrack>local/Mage_Poll.csv</schrack>
                    </files>
                </Mage_Poll>
                <Mage_ProductAlert>
                    <files>
                        <schrack>local/Mage_ProductAlert.csv</schrack>
                    </files>
                </Mage_ProductAlert>
                <Mage_Rating>
                    <files>
                        <schrack>local/Mage_Rating.csv</schrack>
                    </files>
                </Mage_Rating>
                <Mage_Reports>
                    <files>
                        <schrack>local/Mage_Reports.csv</schrack>
                    </files>
                </Mage_Reports>
                <Mage_Review>
                    <files>
                        <schrack>local/Mage_Review.csv</schrack>
                    </files>
                </Mage_Review>
                <Mage_Rss>
                    <files>
                        <schrack>local/Mage_Rss.csv</schrack>
                    </files>
                </Mage_Rss>
                <Mage_Rule>
                    <files>
                        <schrack>local/Mage_Rule.csv</schrack>
                    </files>
                </Mage_Rule>
                <Mage_Sales>
                    <files>
                        <schrack>local/Mage_Sales.csv</schrack>
                    </files>
                </Mage_Sales>
                <Mage_SalesRule>
                    <files>
                        <schrack>local/Mage_SalesRule.csv</schrack>
                    </files>
                </Mage_SalesRule>
                <Mage_Sendfriend>
                    <files>
                        <schrack>local/Mage_Sendfriend.csv</schrack>
                    </files>
                </Mage_Sendfriend>
                <Mage_Shipping>
                    <files>
                        <schrack>local/Mage_Shipping.csv</schrack>
                    </files>
                </Mage_Shipping>
                <Mage_Sitemap>
                    <files>
                        <schrack>local/Mage_Sitemap.csv</schrack>
                    </files>
                </Mage_Sitemap>
                <Mage_Strikeiron>
                    <files>
                        <schrack>local/Mage_Strikeiron.csv</schrack>
                    </files>
                </Mage_Strikeiron>
                <Mage_Tag>
                    <files>
                        <schrack>local/Mage_Tag.csv</schrack>
                    </files>
                </Mage_Tag>
                <Mage_Tax>
                    <files>
                        <schrack>local/Mage_Tax.csv</schrack>
                    </files>
                </Mage_Tax>
                <Mage_Usa>
                    <files>
                        <schrack>local/Mage_Usa.csv</schrack>
                    </files>
                </Mage_Usa>
                <Mage_Weee>
                    <files>
                        <schrack>local/Mage_Weee.csv</schrack>
                    </files>
                </Mage_Weee>
                <Mage_Wishlist>
                    <files>
                        <schrack>local/Mage_Wishlist.csv</schrack>
                    </files>
                </Mage_Wishlist>
            </modules>
        </translate>
    </frontend>
</config>
