<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Ec>
            <version>12.0.0</version>
        </Anowave_Ec>
    </modules>
    <global>
    	<models>
		    <ec>
		        <class>Anowave_Ec_Model</class>
		        <resourceModel>ec_resource</resourceModel>
		    </ec>
		    <ec_resource>
                <class>Anowave_Ec_Model_Resource</class>
                <entities>
	                <ab>
	                    <table>anowave_ab</table>
	                </ab>
	                <data>
	                    <table>anowave_ab_data</table>
	                </data>
	                <store>
	                    <table>anowave_ab_store</table>
	                </store>
	            </entities>
            </ec_resource>
            <core>
                <rewrite>
                    <design_package>Anowave_Ec_Model_Package</design_package>
                </rewrite>
            </core>
            <catalog>
	            <rewrite>
	                <product>Anowave_Ec_Model_Product</product>
	            </rewrite>
	        </catalog>
		</models>
		<blocks>
			<ec>
                <class>Anowave_Ec_Block</class>
            </ec>
            <page>
				<rewrite>
					<html>Anowave_Ec_Block_Html</html>
				</rewrite>
			</page>
		</blocks>
		<helpers>
	        <ec>
	            <class>Anowave_Ec_Helper</class>
	        </ec>
	        <core>
	        	<rewrite>
	        		<js>Anowave_Ec_Helper_Js</js>
	        	</rewrite>
	        </core>
	    </helpers>
		<resources>
		    <anowave_ec_setup>
		        <setup>
		            <module>Anowave_Ec</module>
		        </setup>
		    </anowave_ec_setup>
		    <anowave_ec_write>
				<connection>
					<use>core_write</use>
				</connection>
			</anowave_ec_write>
			<anowave_ec_read>
				<connection>
					<use>core_read</use>
				</connection>
			</anowave_ec_read>
		</resources>
		<events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <ec_success>
                        <class>ec/observer</class>
                        <method>setOrder</method>
                    </ec_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <success>
                        <class>ec/observer</class>
                        <method>setOrder</method>
                    </success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <customer_login>
			    <observers>
			        <ec>
			            <class>ec/observer</class>
                        <method>setLogin</method>
			        </ec>
			    </observers>
			</customer_login>
            <sales_order_payment_refund>
            	<observers>
                    <cancel>
                        <class>ec/observer</class>
                        <method>refund</method>
                    </cancel>
                </observers>
            </sales_order_payment_refund>
            <admin_system_config_changed_section_ec>
            	<observers>
                    <config>
                        <type>singleton</type>
                        <class>ec/config</class>
                        <method>notify</method>
                    </config>
                </observers>
            </admin_system_config_changed_section_ec>
            <controller_action_layout_generate_blocks_after>
		        <observers>
		            <ec>
		            	<type>singleton</type>
		                <class>ec/layout</class>
		                <method>change</method>
		            </ec>
		        </observers>
		    </controller_action_layout_generate_blocks_after>
		    <catalog_product_save_before>
	            <observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>save</method>
	                </ec>
	            </observers>
	        </catalog_product_save_before>
	        <catalog_product_load_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>load</method>
	                </ec>
	            </observers>
	        </catalog_product_load_after>
	        <customer_register_success>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer</class>
	                    <method>setRegister</method>
	                </ec>
	            </observers>
	        </customer_register_success>
        </events>
        <cache>
	        <types>
	            <ec module="Anowave_Ec" translate="label description">
	                <label>Enhanced Ecommerce Cache</label>
	                <description>Google Tag Manager Enhanced Ecommerce cache</description>
	                <tags>EC</tags>
	            </ec>
	        </types>
	    </cache>
    </global>
    <frontend>
    	<events>
			 <core_block_abstract_to_html_after>
                <observers>
                    <ec_modify>
                        <class>ec/observer</class>
                        <method>modify</method>
                    </ec_modify>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_product_load_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>front</method>
	                </ec>
	            </observers>
	        </catalog_product_load_after>
	        <catalog_product_collection_load_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>frontCollection</method>
	                </ec>
	            </observers>
	        </catalog_product_collection_load_after>
	        <controller_action_layout_load_before>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>changeLayout</method>
	                </ec>
	            </observers>
	        </controller_action_layout_load_before>
	        <core_block_abstract_prepare_layout_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>prepareLayout</method>
	                </ec>
	            </observers>
	        </core_block_abstract_prepare_layout_after>
	        <checkout_cart_add_product_complete>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_checkout</class>
	                    <method>add</method>
	                </ec>
	            </observers>
	        </checkout_cart_add_product_complete>
	        <catalog_controller_product_init_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_checkout</class>
	                    <method>register</method>
	                </ec>
	            </observers>
	        </catalog_controller_product_init_after>
	        <controller_action_predispatch_checkout_cart_updatePost>
	        </controller_action_predispatch_checkout_cart_updatePost>
    	</events>
    	<layout>
            <updates>
                <ec>
                    <file>ec.xml</file>
                </ec>
            </updates>
        </layout>
        <routers>
	        <ec>
	            <use>standard</use>
	            <args>
	                <module>Anowave_Ec</module>
	                <frontName>ec</frontName>
	            </args>
	        </ec>
	    </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
            	<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                		<ec>
											<title>Google Tag Manager</title>
										</ec>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ec>
                    <file>ec.xml</file>
                </ec>
            </updates>
        </layout>
        <menu>
        	<system>
        		<children>
        			<ab translate="title" module="ec">
			            <title>A/B Testing</title>
			            <sort_order>1</sort_order>
			            <action>adminhtml/ab/index/</action>
			        </ab>
        		</children>
        	</system>
	    </menu>
	    <events>
			 <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <ec_modify_experiments>
                        <class>ec/observer_experiments</class>
                        <method>prepare</method>
                    </ec_modify_experiments>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
			<adminhtml_cache_refresh_type>
				<observers>
					<ec>
						<type>singleton</type>
						<class>ec/observer_cache</class>
						<method>refresh</method>
					</ec>
				</observers>
			</adminhtml_cache_refresh_type>
    	</events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ab after="Mage_Adminhtml">Anowave_Ec</ab>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
    	<ec>
    		<config>
    			<active>1</active>
    			<code_split>1</code_split>
    		</config>
    		<adwords>
    			<conversion_label><![CDATA[Purchase]]></conversion_label>
    			<conversion_format>3</conversion_format>
    			<conversion_color><![CDATA[FFFFFF]]></conversion_color>
    			<conversion_currency>EUR</conversion_currency>
    		</adwords>
    		<adroll>
    			<active>0</active>
    		</adroll>
    		<revenue>
    			<tax>1</tax>
    			<shipping>1</shipping>
    		</revenue>
    		<definitions>
    			<dimensions>0</dimensions>
    			<dimension1><![CDATA[getCustomerId]]></dimension1>
    			<dimension2><![CDATA[getWishlistCount]]></dimension2>
    			<dimension3><![CDATA[getCustomerGender]]></dimension3>
    			<dimension4><![CDATA[getCustomerGroup]]></dimension4>
    			<dimension5><![CDATA[getCustomerOrdersCount]]></dimension5>
    		</definitions>
    		<facebook>
    			<enable>0</enable>
    		</facebook>
    		<selectors>
    			<force>0</force>
    			<cart><![CDATA[//button|//a[contains(@class,"btn-cart")]]]></cart>
    			<cart_delete><![CDATA[//a[contains(@class,"btn-remove")]|//a[contains(@class,"remove")]]]></cart_delete>
    			<list><![CDATA[//ul[contains(@class, "products-grid")]/li[contains(@class, "item")]|//ol[contains(@class, "products-list")]/li[contains(@class, "item")]]]></list>
    			<click><![CDATA[a[contains(@class,"product-image")]]]></click>
    			<click_ajax><![CDATA[button[contains(@class,"btn-cart")]]]></click_ajax>
    		</selectors>
    		<preferences>
    			<use_category_segments>1</use_category_segments>
    		</preferences>
    		<experiments>
    			<enable>0</enable>
    			<behaviour>2</behaviour>
    		</experiments>
    		<prices>
    			<tax>1</tax>
    		</prices>
    		<dynamic_remarketing>
    			<attribute>sku</attribute>
    		</dynamic_remarketing>
    		<debug>
    			<debug>0</debug>
    			<print_block_names>0</print_block_names>
    		</debug>
    		<blocker>
    			<detect>0</detect>
    			<eventTimeout>2000</eventTimeout>
    		</blocker>
    	</ec>
    </default>
</config>