<?xml version="1.0"?>
<config>
    <modules>
        <Schracklive_SchrackSales>
            <version>3.0.2</version>
            <depends>
                <Sales />
                <Schracklive_Schrack />
            </depends>
        </Schracklive_SchrackSales>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <schrack_wws_customer_id>
                    <to_order>*</to_order>
                </schrack_wws_customer_id>
                <schrack_wws_order_number>
                    <to_order>*</to_order>
                </schrack_wws_order_number>
                <schrack_payment_terms>
                    <to_order>*</to_order>
                </schrack_payment_terms>
                <schrack_shipment_mode>
                    <to_order>*</to_order>
                </schrack_shipment_mode>
                <schrack_wws_place_memo>
                    <to_order>*</to_order>
                </schrack_wws_place_memo>
                <schrack_wws_ship_memo>
                    <to_order>*</to_order>
                </schrack_wws_ship_memo>
                <schrack_custom_order_number>
                    <to_order>*</to_order>
                </schrack_custom_order_number>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <schrack_row_total_excl_surcharge>
                    <to_order_item>*</to_order_item>
                </schrack_row_total_excl_surcharge>
                <schrack_row_total_surcharge>
                    <to_order_item>*</to_order_item>
                </schrack_row_total_surcharge>
                <schrack_basic_price>
                    <to_order_item>*</to_order_item>
                </schrack_basic_price>
                <schrack_surcharge>
                    <to_order_item>*</to_order_item>
                </schrack_surcharge>
                <schrack_backorder_qty>
                    <to_order_item>*</to_order_item>
                </schrack_backorder_qty>
                <schrack_wws_place_memo>
                    <to_order_item>*</to_order_item>
                </schrack_wws_place_memo>
                <schrack_wws_ship_memo>
                    <to_order_item>*</to_order_item>
                </schrack_wws_ship_memo>
                <schrack_drum_number>
                    <to_order_item>*</to_order_item>
                </schrack_drum_number>
            </sales_convert_quote_item>
        </fieldsets>
        <resources>
            <schracksales_setup>
                <setup>
                    <module>Schracklive_SchrackSales</module>
                    <class>Mage_Sales_Model_Entity_Setup</class>
                </setup>
            </schracksales_setup>
        </resources>
        <models>
            <sales>
                <rewrite>
                    <quote_address>Schracklive_SchrackSales_Model_Quote_Address</quote_address>
                    <order_address>Schracklive_SchrackSales_Model_Order_Address</order_address>
                    <quote>Schracklive_SchrackSales_Model_Quote</quote>
                    <order>Schracklive_SchrackSales_Model_Order</order>
                    <quote_item>Schracklive_SchrackSales_Model_Quote_Item</quote_item>
                    <order_api_v2>Schracklive_SchrackSales_Model_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
            <sales_mysql4>
                <rewrite>
                    <quote_item_collection>Schracklive_SchrackSales_Model_Mysql4_Quote_Item_Collection</quote_item_collection>
                </rewrite>
            </sales_mysql4>
            <schracksales>
                <class>Schracklive_SchrackSales_Model</class>
                <resourceModel>schracksales_mysql4</resourceModel>
            </schracksales>
            <schracksales_mysql4>
                <class>Schracklive_SchrackSales_Model_Mysql4</class>
                <entities>
                    <order_index>
                        <table>sales_flat_order_schrack_index</table>
                    </order_index>
                    <order_index_position>
                        <table>sales_flat_order_schrack_index_position</table>
                    </order_index_position>
                    <requestreceiver>
                        <table>sales_requestreceiver</table>
                    </requestreceiver>
                </entities>
            </schracksales_mysql4>
        </models>
        <helpers>
            <schracksales>
                <class>Schracklive_SchrackSales_Helper</class>
            </schracksales>
        </helpers>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <schracksales>
                        <class>Schracklive_SchrackSales_Model_Quote_Observer</class>
                        <method>collectTotals</method>
                    </schracksales>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_quote_item_qty_set_after>
                <observers>
                    <schracksales>
                        <class>Schracklive_SchrackSales_Model_Quote_Item_Observer</class>
                        <method>setQty</method>
                    </schracksales>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <schrack_catalognr />
                        <schrack_qtyunit />
                        <schrack_priceunit />
                    </product_attributes>
                </item>
            </quote>
            <order>
                <statuses>
                    <schrack_offered translate="label">
                        <label>Offered</label>
                    </schrack_offered>
                </statuses>
                <states>
                    <schrack_offered translate="label">
                        <label>Offered</label>
                        <statuses>
                            <schrack_offered default="1"/>
                        </statuses>
                        <visible_on_front/>
                    </schrack_offered>
                </states>
            </order>
        </sales>
    </global>
</config>
