<?xml version="1.0"?>
<config>
	<modules>
		<Schracklive_Mobile>
			<version>1.2.2</version>
			<depends>
				<Schracklive_Schrack />
				<Schracklive_SchrackCheckout />
			</depends>
		</Schracklive_Mobile>
	</modules>
	<global>
		<resources>
            <mobile_setup>
                <setup>
                    <module>Schracklive_Mobile</module>
                </setup>
            </mobile_setup>
        </resources>
		<models>
			<mobile>
				<class>Schracklive_Mobile_Model</class>
			</mobile>
		</models>
		<helpers>
			<mobile>
				<class>Schracklive_Mobile_Helper</class>
			</mobile>
		</helpers>
		<blocks>
			<mobile>
				<class>Schracklive_Mobile_Block</class>
			</mobile>
		</blocks>
		<template>
			<email>
				<schrack_mobile_article_email_template translate="label" module="mobile">
					<label>iPhone Article Info E-Mail</label>
					<file>local/iphone_article_info.html</file>
					<type>html</type>
				</schrack_mobile_article_email_template>
			</email>
		</template>
	</global>
	<frontend>
		<translate>
            <modules>
                <Schracklive_Mobile>
                    <files>
                        <schrack>local/Schracklive_Mobile.csv</schrack>
                    </files>
                </Schracklive_Mobile>
            </modules>
        </translate>
		<secure_url>
			<mobile_onepage>/mobile/onepage</mobile_onepage>
		</secure_url>
		<routers>
			<mobile>
				<use>standard</use>
				<args>
					<module>Schracklive_Mobile</module>
					<frontName>mobile</frontName>
				</args>
			</mobile>
		</routers>
		<layout>
			<updates>
				<mobile>
					<file>mobile.xml</file>
				</mobile>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_mobile>
				<observers>
					<mobile>
						<class>Schracklive_Mobile_Model_Customer_Session_Observer</class>
						<method>loginUser</method>
					</mobile>
				</observers>
			</controller_action_predispatch_mobile>
		</events>
	</frontend>
</config>
