<?xml version="1.0"?>
<config>
    <modules>
        <Schracklive_SchrackWishlist>
            <version>1.0.21</version>
            <depends>
                <Schracklive_Schrack />
                <Mage_Wishlist />
            </depends>
        </Schracklive_SchrackWishlist>
    </modules>
    <global>        
        <blocks>            
            <wishlist>
                <class>Mage_Wishlist_Block</class>
                <rewrite>
                    <partslist>Schracklive_SchrackWishlist_Block_Partslist</partslist>
                    <partslist_csv>Schracklive_SchrackWishlist_Block_Partslist_Csv</partslist_csv>
                    <links>Schracklive_SchrackWishlist_Block_Links</links>
                    <endcustomerpartslist>Schracklive_SchrackWishlist_Block_Endcustomerpartslist</endcustomerpartslist>
                    <endcustomerpartslist_view>Schracklive_SchrackWishlist_Block_Endcustomerpartslist_View</endcustomerpartslist_view>
                    <endcustomerpartslist_index>Schracklive_SchrackWishlist_Block_Endcustomerpartslist_Index</endcustomerpartslist_index>
                    <endcustomerpartslist_customer>Schracklive_SchrackWishlist_Block_Endcustomerpartslist_Customer</endcustomerpartslist_customer>
                    <endcustomerpartslist_catalogs>Schracklive_SchrackWishlist_Block_Endcustomerpartslist_Catalogs</endcustomerpartslist_catalogs>
                    <endcustomerpartslist_customer_edit>Schracklive_SchrackWishlist_Block_Endcustomerpartslist_Customer_Edit</endcustomerpartslist_customer_edit>
                    <endcustomerpartslist_productdetail>Schracklive_SchrackWishlist_Block_Endcustomerpartslist_Productdetail</endcustomerpartslist_productdetail>
                </rewrite>
            </wishlist>
        </blocks>
        
        <resources>
			<schrackwishlist_setup>
				<setup>
					<module>Schracklive_SchrackWishlist</module>
				</setup>
			</schrackwishlist_setup>
		</resources>
        <models>
            <schrackwishlist>
                <class>Schracklive_SchrackWishlist_Model</class>
                <resourceModel>schrackwishlist_mysql4</resourceModel>
            </schrackwishlist>

            <schrackwishlist_mysql4>
                <class>Schracklive_SchrackWishlist_Model_Mysql4</class>
                <entities>
                    <partslist>
                        <table>partslist</table>
                    </partslist>                        
                    <partslist_item>
                        <table>partslist_item</table>
                    </partslist_item>
                    <partslist_item_option>
                        <table>partslist_item_option</table>
                    </partslist_item_option>

                    <endcustomerpartslist_customer>
                        <table>endcustomerpartslist_customer</table>
                    </endcustomerpartslist_customer>
                    <endcustomerpartslist_catalog>
                        <table>endcustomerpartslist_catalog</table>
                    </endcustomerpartslist_catalog>
                    <endcustomerpartslist_category>
                        <table>endcustomerpartslist_category</table>
                    </endcustomerpartslist_category>
                </entities>
            </schrackwishlist_mysql4>           
        </models>
        <helpers>
            <schrackwishlist>
                <class>Schracklive_SchrackWishlist_Helper</class>
            </schrackwishlist>
        </helpers>       
        <!--<rewrite>
            <schracklive_schrackwishlist_wishlist>
                <from><![CDATA[#^/wishlist/partslist/#]]>
                </from>
                <to>/wishlist/partslist/view/</to>
            </schracklive_schrackwishlist_wishlist>
        </rewrite>-->
    </global>
    <frontend>
        <translate>
            <modules>
                <Schracklive_SchrackWishlist>
                    <files>
                        <default>local/Schracklive_SchrackWishlist.csv</default>
                    </files>
                </Schracklive_SchrackWishlist>
            </modules>
        </translate>
        <routers>
			<schrackwishlist>
				<use>standard</use>
				<args>
					<module>Schracklive_SchrackWishlist</module>
					<frontName>wishlist</frontName>
				</args>                
            </schrackwishlist>           
		</routers>
        <secure_url>
            <wishlist>/wishlist/partslist/</wishlist>
        </secure_url>
    </frontend>
    <default>
    </default>
</config>
