<?xml version="1.0"?>
<config>
  <modules>
    <Schracklive_Austria>
      <version>0.0.1</version>
      <depends>
        <Schracklive_Schrack />
      </depends>
    </Schracklive_Austria>
  </modules>
  <global>
    <resources>
      <austria_setup>
        <setup>
          <module>Schracklive_Austria</module>
        </setup>
      </austria_setup>
    </resources>
  </global>
</config>
