<?xml version="1.0"?>
<config>
    <modules>
        <Schracklive_S4s>
            <version>1.0.4</version>
        </Schracklive_S4s>
    </modules>
    <frontend>
        <routers>
            <s4s>
                <use>standard</use>
                <args>
                    <module>Schracklive_S4s</module>
                    <frontName>s4s</frontName>
                </args>
            </s4s>
        </routers>
    </frontend>
    <global>
        <resources>
            <s4s_setup>
                <setup>
                    <module>Schracklive_S4s</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </s4s_setup>
        </resources>
        <helpers>
            <s4s>
                <class>Schracklive_S4s_Helper</class>
            </s4s>
        </helpers>
        <events>
            <customer_save_after>
                <observers>
                    <s4s>
                        <type>singleton</type>
						<class>Schracklive_S4s_Model_Observer</class>
						<method>s4sUpdate</method>
                    </s4s>
                </observers>
            </customer_save_after>
        </events>
        <adminhtml>
            <events>
                <customer_save_after>
                    <observers>
                        <type>singleton</type>
						<class>Schracklive_S4s_Model_Observer</class>
						<method>s4sUpdate</method>
                    </observers>
                </customer_save_after>
            </events>
        </adminhtml>
    </global>
</config>