<?xml version="1.0"?>
<config>
	<modules>
		<Schracklive_SchrackUniversalAnalytics>
			<version>1.0.0</version>
		</Schracklive_SchrackUniversalAnalytics>
	</modules>
	<default>
		<baua>
			<settings>
				<enabled>1</enabled>
			</settings>
			<translation>
				<addImpression>
					<id>sku</id>
				</addImpression>
				<addProduct>
					<id>sku</id>
				</addProduct>
				<capturetransaction>
					<id>
						<schrack_wws_order_number/>
						<entity_id/>
					</id>
				</capturetransaction>
				<capturetransactionitems>
					<id>
						<schrack_wws_order_number/>
						<entity_id/>
					</id>
				</capturetransactionitems>
				<transaction>
					<id>
						<schrack_wws_order_number/>
						<entity_id/>
					</id>
				</transaction>
			</translation>
		</baua>
	</default>
	<global>
		<models>
			<baua>
				<rewrite>
					<monitor>Schracklive_SchrackUniversalAnalytics_Model_Monitor</monitor>
				</rewrite>
			</baua>
		</models>
		<helpers>
			<baua>
				<rewrite>
					<data>Schracklive_SchrackUniversalAnalytics_Helper_Data</data>
				</rewrite>
			</baua>
			<schrackuniversalanalytics>
				<class>Schracklive_SchrackUniversalAnalytics_Helper_Data</class>
			</schrackuniversalanalytics>
		</helpers>
	</global>
</config>
