<?xml version="1.0"?>
<config>
	<modules>
		<Schracklive_Branch>
			<version>0.1.0</version>
		</Schracklive_Branch>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Schracklive_Branch>
					<files>
						<schrack>local/Schracklive_Branch.csv</schrack>
					</files>
				</Schracklive_Branch>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<branch>
				<use>admin</use>
				<args>
					<module>Schracklive_Branch</module>
					<frontName>branch</frontName>
				</args>
			</branch>
		</routers>
	</admin>
	<global>
		<models>
			<branch>
				<class>Schracklive_Branch_Model</class>
				<resourceModel>branch_mysql4</resourceModel>
			</branch>
			<branch_mysql4>
				<class>Schracklive_Branch_Model_Mysql4</class>
				<entities>
					<branch>
						<table>branch</table>
					</branch>
				</entities>
			</branch_mysql4>
		</models>
		<resources>
			<branch_setup>
				<setup>
					<module>Schracklive_Branch</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</branch_setup>
			<branch_write>
				<connection>
					<use>core_write</use>
				</connection>
			</branch_write>
			<branch_read>
				<connection>
					<use>core_read</use>
				</connection>
			</branch_read>
		</resources>
		<blocks>
			<branch>
				<class>Schracklive_Branch_Block</class>
			</branch>
		</blocks>
		<helpers>
			<branch>
				<class>Schracklive_Branch_Helper</class>
			</branch>
		</helpers>
	</global>
</config>