<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Schracklive_SchrackCatalog>
            <version>2.5.4</version>
            <depends>
                <Mage_Catalog />
                <Schracklive_Schrack />
            </depends>
        </Schracklive_SchrackCatalog>
    </modules>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Schracklive_SchrackCatalog before="Mage_Catalog">Schracklive_SchrackCatalog</Schracklive_SchrackCatalog>
                    </modules>
                </args>
            </catalog>
        </routers>
        <translate>
            <modules>
                <Mage_Catalog>
                    <files>
                        <schrackcatalog>local/Schracklive_SchrackCatalog.csv</schrackcatalog>
                    </files>
                </Mage_Catalog>
            </modules>
        </translate>
        <category>
            <collection>
                <attributes>
                    <schrack_image_url/>
                    <schrack_group_id/>
                    <schrack_thumbnail_url/>
                    <schrack_strategic_pillar/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <global>
        <resources>
            <schrackcatalog_setup>
                <setup>
                    <module>Schracklive_SchrackCatalog</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </schrackcatalog_setup>
        </resources>
        <helpers>
            <catalog>
                <rewrite>
                    <category>Schracklive_SchrackCatalog_Helper_Category</category>
                    <product>Schracklive_SchrackCatalog_Helper_Product</product>
                </rewrite>
            </catalog>
            <schrackcatalog>
                <class>Schracklive_SchrackCatalog_Helper</class>
            </schrackcatalog>
            <catalog>
                <rewrite>
                    <image>Schracklive_SchrackCatalog_Helper_Image</image>
                    <data>Schracklive_SchrackCatalog_Helper_Data</data>
                </rewrite>
            </catalog>
        </helpers>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <wws>
                        <class>Schracklive_SchrackCatalog_Model_Product_Type_Price_Observer</class>
                        <method>setTierPriceForCustomer</method>
                    </wws>
                </observers>
            </catalog_product_get_final_price>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <wws>
                        <class>Schracklive_SchrackCatalog_Model_Product_Type_Observer</class>
                        <method>storeDrumNumber</method>
                    </wws>
                </observers>
            </catalog_product_type_prepare_full_options>
        </events>
        <models>
            <catalog>
                <rewrite>
                    <category>Schracklive_SchrackCatalog_Model_Category</category>
                    <product>Schracklive_SchrackCatalog_Model_Product</product>
                    <product_image>Schracklive_SchrackCatalog_Model_Product_Image</product_image>
                    <url>Schracklive_SchrackCatalog_Model_Url</url>
                    <category_attribute_backend_image>Schracklive_SchrackCatalog_Model_Category_Attribute_Backend_Image</category_attribute_backend_image>
                    <product_type_simple>Schracklive_SchrackCatalog_Model_Product_Type_Simple</product_type_simple>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product>Schracklive_SchrackCatalog_Model_Resource_Eav_Mysql4_Product</product>
                    <url>Schracklive_SchrackCatalog_Model_Resource_Eav_Mysql4_Url</url>
                    <product_collection>Schracklive_SchrackCatalog_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <schrackcatalog>
                <class>Schracklive_SchrackCatalog_Model</class>
                <resourceModel>schrackcatalog_mysql4</resourceModel>
            </schrackcatalog>
            <schrackcatalog_mysql4>
                <class>Schracklive_SchrackCatalog_Model_Mysql4</class>
                <entities>
                    <filedata>
                        <table>filedata</table>
                    </filedata>
                    <attachment>
                        <table>catalog_attachment</table>
                    </attachment>
                </entities>
            </schrackcatalog_mysql4>
        </models>
        <blocks>
            <schrackcatalog>
                <class>Schracklive_SchrackCatalog_Block</class>
            </schrackcatalog>

            <catalog>
                <rewrite>
                    <product_downloadpowerlosscsv>Schracklive_SchrackCatalog_Block_Product_PowerLossCsv</product_downloadpowerlosscsv>

                    <category_view>Schracklive_SchrackCatalog_Block_Category_View</category_view>
                    <navigation>Schracklive_SchrackCatalog_Block_Navigation</navigation>
                    <product_list>Schracklive_SchrackCatalog_Block_Product_List</product_list>
                    <product_list_toolbar>Schracklive_SchrackCatalog_Block_Product_List_toolbar</product_list_toolbar>
                    <product_view>Schracklive_SchrackCatalog_Block_Product_View</product_view>
                    <product_view_related>Schracklive_SchrackCatalog_Block_Product_View_Related</product_view_related>
                    <product_view_attributes>Schracklive_SchrackCatalog_Block_Product_View_Attributes</product_view_attributes>
                    <product_view_accessories>Schracklive_SchrackCatalog_Block_Product_View_Accessories</product_view_accessories>
                    <!-- product_view_accessories_otherbatches>Schracklive_SchrackCatalog_Block_Product_View_Otherbatches</product_view_accessories_otherbatches -->
                    <product_view_service>Schracklive_SchrackCatalog_Block_Product_View_Service</product_view_service>
                    <product_compare_list>Schracklive_SchrackCatalog_Block_Product_Compare_List</product_compare_list>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <default>
        <url>
            <convert>
                <umlautA><from><![CDATA[Ä]]></from><to><![CDATA[ae]]></to></umlautA>
                <umlautO><from><![CDATA[Ö]]></from><to><![CDATA[oe]]></to></umlautO>
                <umlautU><from><![CDATA[Ü]]></from><to><![CDATA[ue]]></to></umlautU>
                <umlauta><from><![CDATA[ä]]></from><to><![CDATA[ae]]></to></umlauta>
                <umlauto><from><![CDATA[ö]]></from><to><![CDATA[oe]]></to></umlauto>
                <umlautu><from><![CDATA[ü]]></from><to><![CDATA[ue]]></to></umlautu>
                <ro_S><from><![CDATA[ș]]></from><to><![CDATA[s]]></to></ro_S>
            </convert>
        </url>
        <schrack>
            <product>
                <packingunitLimitPercent>70</packingunitLimitPercent>
            </product>
        </schrack>
    </default>
</config>
