<?xml version="1.0"?>
<!--
/**
 * orcamultimedia
 * http://www.orca-multimedia.de
 * 
 * @author		Thomas Wild
 * @package		Orcamultimedia_Sapoci
 * @copyright	Copyright (c) 2017 orcamultimedia Thomas Wild (http://www.orca-multimedia.de)
 * 
**/
-->
<config>
	<modules>
		<Orcamultimedia_Sapoci>
			<version>2.1.4</version>
		</Orcamultimedia_Sapoci>
	</modules>
	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<Orcamultimedia_Sapoci before="Mage_Customer">Orcamultimedia_Sapoci</Orcamultimedia_Sapoci>
					</modules>
				</args>
			</customer>
			<sapoci>
				<use>standard</use>
				<args>
					<module>Orcamultimedia_Sapoci</module>
					<frontName>sapoci</frontName>
				</args>
			</sapoci>
		</routers>
		<layout>
			<updates>
				<Orcamultimedia_Sapoci>
					<file>sapoci.xml</file>
				</Orcamultimedia_Sapoci>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<sapoci>
				<class>Orcamultimedia_Sapoci_Block</class>
			</sapoci>
			<checkout>
				<rewrite>
					<onepage_link>Orcamultimedia_Sapoci_Block_Link</onepage_link>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
            <sapoci>
                <class>Orcamultimedia_Sapoci_Helper</class>
            </sapoci>
        </helpers>
		<models>
			<sapoci>
				<class>Orcamultimedia_Sapoci_Model</class>
			</sapoci>
			<checkout>
				<rewrite>
					<observer>Orcamultimedia_Sapoci_Model_Checkout_Observer</observer>
				</rewrite>
			</checkout>
		</models>
		<events>
			<customer_login>
				<observers>
					<Orcamultimedia_Sapoci_Observer>
						<class>Orcamultimedia_Sapoci_Model_Observer</class>
						<method>customerLogin</method>
					</Orcamultimedia_Sapoci_Observer>
				</observers>
			</customer_login>
			<controller_action_predispatch_checkout>
				<observers>
					<Orcamultimedia_Sapoci_Observer>
						<class>Orcamultimedia_Sapoci_Model_Observer</class>
						<method>removeCheckout</method>
					</Orcamultimedia_Sapoci_Observer>
				</observers>
			</controller_action_predispatch_checkout>
			<controller_action_predispatch_customer>
				<observers>
					<Orcamultimedia_Sapoci_Observer>
						<class>Orcamultimedia_Sapoci_Model_Observer</class>
						<method>removeCustomerActions</method>
					</Orcamultimedia_Sapoci_Observer>
				</observers>
			</controller_action_predispatch_customer>
		</events>
	</global>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
										<sapoci module="sapoci" translate="title">
                                            <title>SAP OCI</title>
                                            <sort_order>50</sort_order>
                                        </sapoci>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
		<sapoci>
			<configuration>
				<logging>0</logging>
				<transliteration>0</transliteration>
			</configuration>
			<vendor>
				<enabled>0</enabled>
				<value/>
			</vendor>
			<leadtime>
				<enabled>0</enabled>
				<value/>
			</leadtime>
			<matgroup>
				<enabled>0</enabled>
				<value/>
			</matgroup>
			<manufactmat>
				<enabled>0</enabled>
				<value/>
			</manufactmat>
			<cust_field1>
				<enabled>0</enabled>
				<value/>
			</cust_field1>
			<cust_field2>
				<enabled>0</enabled>
				<value/>
			</cust_field2>
			<cust_field3>
				<enabled>0</enabled>
				<value/>
			</cust_field3>
			<cust_field4>
				<enabled>0</enabled>
				<value/>
			</cust_field4>
			<cust_field5>
				<enabled>0</enabled>
				<value/>
			</cust_field5>
			<ext_category_id>
				<enabled>0</enabled>
				<value/>
			</ext_category_id>
			<unit>
				<enabled>0</enabled>
				<value/>
			</unit>
			<matnr>
				<enabled>0</enabled>
				<value/>
			</matnr>
			<contract>
				<enabled>0</enabled>
				<value/>
			</contract>
			<contract_item>
				<enabled>0</enabled>
				<value/>
			</contract_item>
			<ext_quote_id>
				<enabled>0</enabled>
				<value/>
			</ext_quote_id>
			<ext_quote_item>
				<enabled>0</enabled>
				<value/>
			</ext_quote_item>
			<attachment>
				<enabled>0</enabled>
				<value/>
			</attachment>
			<attachment_title>
				<enabled>0</enabled>
				<value/>
			</attachment_title>
			<attachment_purpose>
				<enabled>0</enabled>
				<value/>
			</attachment_purpose>
			<ext_schema_type>
				<enabled>0</enabled>
				<value/>
			</ext_schema_type>
			<ext_category>
				<enabled>0</enabled>
				<value/>
			</ext_category>
			<sld_sys_name>
				<enabled>0</enabled>
				<value/>
			</sld_sys_name>
			<priceunit>
				<enabled>0</enabled>
				<value/>
			</priceunit>
			<manufactcode>
				<enabled>0</enabled>
				<value/>
			</manufactcode>
			<service>
				<enabled>0</enabled>
				<value/>
			</service>
			<custom>
				<enabled>0</enabled>
				<name/>
				<value/>
			</custom>
			<item_type>
				<enabled>0</enabled>
				<value/>
			</item_type>
			<parent_id>
				<enabled>0</enabled>
				<value/>
			</parent_id>
		</sapoci>
	</default>
</config>